@using LittleSheep.Entities
@using LittleSheep.Users

@{
    Layout = "~/Pages/Master.cshtml";

    var message = string.Empty;

    if (IsPost)
    {
        var email = Request.Form["email"];
        var password = Request.Form["password"];

        //todo validate on client and server side

        UserRepository userRepository = new UserRepository();

        if (userRepository.LogInToAccount(email, password))
        {
            message = "Inloggning lyckad";
        }
        else
        {
            message = "De inmattade uppgifterna verkar inte stämma.";
        }
    }
}

<div class="pageHeading heading_left">
    <h1>Logga in</h1>
</div>

<section>
    @if (UserRepository.loggedIn == false)
    {
        <form action="LogIn.cshtml" method="POST">
            <label>E-mail</label>
            <input name="email" type="email">

            <label>Lösenord</label>
            <input name="password" type="password">

            <input id="submit" name="submit" type="submit" value="Logga in">
            <h3>Inget konto ännu? Ingen fara, <a href="~/Pages/User/CreateAccount.cshtml">skapa konto här</a>.</h3>
        </form>

        if (IsPost)
        {
            <h2>@message</h2>
        }
    }
    else
    {
        if (IsPost)
        {
            <h2>@message</h2>
        }
    }

</section>
