@{
    Layout = "~/Pages/Master.cshtml";
}

<div class="pageHeading heading_left">
    <h1>Konto</h1>
</div>

@*TODO lägg i try eller ifsats, detta ska vissas om användaren inte är inloggad*@
<div class="clearBoth">
    <h3><a href="~/Pages/User/LogIn.cshtml">Logga in</a></h3>
    <h3><a href="~/Pages/User/CreateAccount.cshtml">Skapa konto</a></h3>
</div>


