@{
    Layout = "~/Pages/Master.cshtml";
}

<div class="pageHeading heading_left">
    <h1>Konto</h1>
</div>

@*TODO lägg i try eller ifsats, detta ska vissas om användaren inte är inloggad*@
<div class="clearBoth">
    <h3>Det verkar som att du inte är inloggad, <a href="~/Pages/User/LogIn.cshtml">logga in</a>.</h3>
    <h3>Inget konto ännu? Ingen fara, <a href="~/Pages/User/CreateAccount.cshtml">skapa konto här</a>.</h3>
</div>


