@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Little Sheep</title>
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="~/scripts/jQuery.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav>
            <a class="toggle-nav" href="#">&#9776;</a>
            <ul class="active">
                <li><a href="~/Pages/Admin/AddProduct.cshtml">Add new product</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
