html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* ~ Header/Menu ~ */

.clearfix:after {
    display:block;
    clear:both;
}

header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #3e3436;
}

header nav {
    width: 80%;
}

.clearfix {
    margin-top: 0;
    padding-top: 5px;
}

header nav ul li {
    margin: 0;
    list-style:none;
}

header nav a {
    text-decoration: none;
    transition: all linear 0.15s;
    color: #919191;
}

header nav li:hover > a, header nav .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

header nav.arrow {
    font-size:11px;
    line-height:0%;
}

header nav > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
header nav > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
header nav > ul > li:hover > a, header > ul > .current-item > a {
    background:#2e2728;
}

header nav li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2e2728;
}
 
.sub-menu li {
    display: block;
    font-size: 16px;
}
 
.sub-menu li a {
    padding: 10px 30px;
    display: block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background: #3e3436;
}

/* ~ Product display ~ */
.section {
	clear: both;
	padding: 0px;
	margin: 0 1%;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
    width: 23.5%;
    height: 600px;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.col:nth-child(4n+1){ margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/* PHOTOGRAPHY - DIFFERENT MEDIA WIDTH */
@media only screen and (max-width: 1350px) {
	.col:nth-child(4n+1) {margin-left: 2%;}
	.col:nth-child(3n+1) {margin-left: 0;}
	.col {width: 32%;}
}

@media only screen and (max-width: 1000px) {
	.col:nth-child(1n+1) {margin-left: 2%;}
	.col:nth-child(3n+1) {margin-left: 2%;}
	.col:nth-child(2n+1) {margin-left: 0;}
	.col {width: 49%;}
}

@media only screen and (max-width: 650px) {
	.col {  margin: 0 0 1% 0; width: 100%; }
    .col:nth-child(1n+1) {margin-left: 0;}
	.col:nth-child(3n+1) {margin-left: 0;}
    .col:nth-child(4n+1) {margin-left: 0;}
}

.center {
    margin: 0 auto;
    max-width: 300px;
}

.productImg {
    margin: 30px 0 0 0;
    width: 300px;
    height: auto;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.productInformation {
    margin: 10px;
}

