html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #413b45;
}

a {
    color: #2E1C33;
    text-decoration: none;
}

a:hover {
    color: #6D4278;
}

.clearBoth {
    margin: 0 auto;
    width: 80%;
    clear: both;
}

/* ~ Header/Menu ~ */
.header_image {
    width: 100%;
    height: 200px;
    background-image: url(../Images/45.jpg);
}

.headerMascot {
    position: absolute;
    right: 0;
    width: 300px;
    float: right;
    z-index: 10;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #3e3436;
}

.toggle-nav {
    visibility: hidden;
    float: left;
    font-size: 35px;
    margin: 0;
    padding: 0 8px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-bottom: none;
}

nav ul {
    margin: 10px 0 0 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

    nav ul li {
        margin: 0 10px;
        float: left;
        display: inline;
    }

nav li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

nav a:hover {
    color: #6D4278;
}

nav li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    position: absolute;
    display: block;
    background-color: #3e3436;
    z-index: -1;
    opacity: 0;
    margin-top: 0;
}

    .sub-menu li {
        float: none;
        display: block;
    }

        .sub-menu li a {
            margin: 10px;
            display: block;
        }

@media only screen and (max-width: 915px) {
    header nav ul li a {
        background-color: #3e3436;
    }

    .active {
        position: relative;
        display: inline-block;
        text-align: left;
    }

    nav ul.active {
        display: none;
    }

    header nav ul {
        position: absolute;
        display: list-item;
        margin: 50px 0 0 0;
    }

        header nav ul:after {
            content: '';
        }

    .toggle-nav {
        visibility: visible;
        display: inline-block;
    }

    header nav li {
        display: block;
        float: none;
        margin-left: 0;
    }

    header nav a {
        border-bottom: none;
        text-align: left;
    }

    .toggle-nav.active {
        border-bottom: none;
        color: #6D4278;
    }

    .sub-menu {
        z-index: 1;
        opacity: 1;
        position: initial;
    }

        .sub-menu li a {
            margin: 0 0 0 5px;
        }
}

/* ~ Page Heading~ */
.pageHeading {
    color: #fff;
    margin: 30px 0 15px;
    position: relative;
    text-transform: uppercase;
    background: #6D4278;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    padding: 5px 10px;
    clear: both;
    z-index: -1;
}

    .pageHeading h1 {
        font-size: 140%;
        padding: 0 10px;
        color: white;
    }

.heading_left {
    color: #000;
    margin-left: -10px;
    float: left;
}

    .heading_left:before {
        position: absolute;
        display: block;
        width: 10px;
        height: 0px;
        bottom: -10px;
        left: -11px;
        content: "";
        border-bottom: 10px solid transparent;
        border-right: 10px solid #6D4278;
    }

    .heading_left:after {
        position: absolute;
        display: block;
        height: 100%;
        width: 6px;
        bottom: 3px;
        right: -1px;
        content: "";
        border: 1px solid rgba(0,0,0,.3);
        transform: skew(0deg,45deg);
        -ms-transform: skew(0deg,45deg); /* IE 9 */
        -webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
        -o-transform: skew(0deg,45deg); /* Opera */
        -moz-transform: skew(0deg,45deg); /* Firefox */
        background: #2E1C33;
    }

/* ~ Product display ~ */
.section {
    clear: both;
    padding: 0px;
    margin: 0 1%;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 2%;
    width: 23.5%;
    height: 600px;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

    .col:nth-child(4n+1) {
        margin-left: 0;
    }

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

@media only screen and (max-width: 1350px) {
    .col:nth-child(4n+1) {
        margin-left: 2%;
    }

    .col:nth-child(3n+1) {
        margin-left: 0;
    }

    .col {
        width: 32%;
    }
}

@media only screen and (max-width: 1000px) {
    .col:nth-child(1n+1) {
        margin-left: 2%;
    }

    .col:nth-child(3n+1) {
        margin-left: 2%;
    }

    .col:nth-child(2n+1) {
        margin-left: 0;
    }

    .col {
        width: 49%;
    }
}

@media only screen and (max-width: 650px) {
    .col {
        margin: 1% 0 1% 0;
        width: 100%;
    }

        .col:nth-child(1n+1) {
            margin-left: 0;
        }

        .col:nth-child(3n+1) {
            margin-left: 0;
        }

        .col:nth-child(4n+1) {
            margin-left: 0;
        }
}

.center {
    margin: 0 auto;
    max-width: 300px;
}

.productImg {
    margin: 30px 0 0 0;
    width: 300px;
    height: auto;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.productInformation {
    margin: 10px;
}

/* ~ Form styling ~ */
form {
    margin: 0 auto;
    width: 80%;
    clear: both;
}

label {
    color: #2E1C33;
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
    width: 100%;
}

input, textarea {
    width: 100%;
    background: #efefef;
	border: 1px solid #dedede;
	padding: 10px;
	margin-top: 3px;
	font-size: 0.9em;
	color: #2E1C33;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    height: 50%;
    min-height: 100px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #2E1C33;
}

#submit {
    color: #2E1C33;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

#submit:hover {
    opacity:.9;
    background-color: #6D4278;
}